p {
  font-size: large;
}

.meta-p {
  margin-top: -2em;
  margin-bottom: -1em;
}

.cabinet-table {
  border: solid 2px black;
  margin-left: auto;
  margin-right: auto;
}

.cabinet-cell {
  padding: 0.5em;
}
