<!DOCTYPE html>

<head>
  <title>Rhythm Game Finder-inator</title>
  {% include "elements/head.html" %}
  <style>
  @font-face {
    font-family: 'Outfit';
    src: url('static/Fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body::before {
    content: "";
    background: url('static/gcm.webp') center/contain no-repeat, #1e1f33;
    background-size: contain;
    position: fixed;
    inset: 0;
    opacity: 0.42;
    z-index: -1;

  }

  </style>
</head>

<body>
  {% include "elements/header.html" %}
  <div style="margin:8px">
    <section>
      <form name="Select country" method="post">
        <label for="start">Country:
        </label>
        <select name="Country" id="Country">
          <option value="Select country" selected="SELECTED">Select country</option>
          {% for country in countries %}
            <option value="{{country}}">{{country}}</option>
          {% endfor %}
        </select>
        <input type="submit" name="Search">
      </form>
    </section>

    <section>
      <h1>Currently available countries:</h1>
      <ul>
        {% for country in countries %}
          <li>
            <a href="{{country}}">{{country}}</p>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</body>
